.post {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 1rem;
  padding-left: .1rem;
  padding-right: .1rem;
}

.post_subtitle {
  display: flex;
  gap: 1rem;
}