:root {
  --foreground-rgb: rgb(0, 0, 0);
  --background-start-rgb: rgba(230, 157, 69, 0.9);
  --background-end-rgb: rgba(255, 189, 113, 1);
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: rgb(255, 255, 255);
    --background-start-rgb: rgb(0, 0, 0);
    --background-end-rgb: rgb(0, 0, 0);
  }
}

html {
  max-width: 70ch;
  padding: 3em 1em;
  margin: auto;
  line-height: 1.75;
  font-size: 1.25em;
}

body {
  color: var(--foreground-rgb);
  background: linear-gradient(var(--background-start-rgb), var(--background-end-rgb));
}


h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 3em 0 1em;
}

p,
ul,
ol {
  margin-bottom: 2em;
  font-family: sans-serif;
}

a {
  color: inherit;
}

table,
th,
td {
  border: 1px solid;
  padding: 0.5rem;
}

table {
  border-collapse: collapse;
}